.wishlist-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fcf5f5;
}

.wishWrap {
    margin-top: 40px;
    padding-left: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

}

.wishlist-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    margin-top: 200px;
}

.hearticon {
    margin-bottom: 150px;
}

.explanation {
    width: 50%;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
}

.wishlist-heading {
    margin-right: 10px;
    font-size: 25px;
}

.wish-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 10px;
    margin-bottom: 80px;
    position: relative;
}

.wish-img-div {
    width: 300px;
    height: 420px;
    overflow: hidden;
}

.wish-img-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.trashcan-icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: whitesmoke;
    font-size: 17px;
    position: absolute;
    bottom: 30%;
    right: 5%;
    cursor: pointer;
}

.trashcan-icon-div:active {
    transform: translateY(2px);
}

.wish-title {
    margin-bottom: 0px;
}

.add-wish-btn {
    width: 100%;
    font-size: 20px;
    background-color: teal;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 2.5px;
}

.add-wish-btn:active {
    transform: translateY(2px);
}

.cart-button-icon {
    margin-right: 10px;
}

@media screen and (max-width: 992px) {
    .wishWrap {
        margin-top: 40px;
        padding-left: 80px;
        padding-right: 10px;
     
 
    
    }

    .wish-img-div {
        width: 240px;
        height: 350px;
        overflow: hidden;
    }

    .trashcan-icon-div {
        bottom: 35%;
        right: 6%;
        width: 34px;
        height: 34px;
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {

    .wishlist-heading {
        font-size: 25px;
        font-weight: 200;
        letter-spacing: 3px;
        margin-top: 150px;
    }
    .explanation {
        width: 80%;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 2px;
        text-align: center;
        margin-bottom: 20px;    
    }


    .wish-img-div {
        width: 180px;
        height: 220px;
        overflow: hidden;
    }

    .wish-title {
        font-size: 18px;
    }

    .add-wish-btn {
        width: 100%;
        font-size: 18px;
        background-color: teal;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        cursor: pointer;
    }

    .wishWrap { 
        margin-top: 40px;
        padding-left: 0px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}