.cart-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 200px;
    background-color: #fcf5f5;
    position: relative;
}

.cart-heading {
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%; 

}
.cart-heading2 {
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secret-checkout {
    height: 1px;
    font-size: 1px;
    visibility: hidden;
}

.my-cart {
    margin-right: 20px;
    opacity: 0.5;
}

.order-value {
    font-size: 20px;
    letter-spacing: 2px;
    width: 330px;
    display: flex;
    justify-content: space-between;
}

#total {
    letter-spacing: 2px;
    width: 330px;
    display: flex;
    justify-content: space-between;
}

.order {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 100px;   
}

.top-div {
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fcf5f5;
    padding-bottom: 50px;
}

.link-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    margin-top: 120px;
}

.bottom-div {
    display: flex;
    width: 100%;
}


.main {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #fcf5f5;
    
}

aside {
    width: 30%;
    height: 75vh;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding-left: 10px;
    background-color: white;
    visibility: visible;
}

.black-line {
    width:75%;
    height: 0.8px;
    margin-top: 20px;
    background-color: black;
}

.free-freight-text {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1.5px; 
}

.checkout-btn {
    background: teal;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 8px;
    cursor: pointer;
    width: 70%;
    margin-top: 30px;   
}

.checkout-btn:hover {
    opacity: 0.8;
}

.payment-methods {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
    
}

.payment-heading {
    margin-bottom: 0px;
}

.payment-logos {
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    margin-top: 0px;
    width: 40px;
    margin-right: 3px;
}

.payment {
    margin-top: 0;
    width: 50px;
    margin-right: 3px;
}

.return-policy {
    font-size: 15px;
    width: 300px;
    margin-bottom: 0px;
}

.return-underline {
    margin-top: 0px;
    text-decoration: underline;
    cursor: pointer;
}


/* Cart items */


.displayed-product {
    padding: 20px;
    width: 580px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: black;
    margin-bottom: 10px;
    position: relative;
    background-color: #fff;
    border-radius: 3px;
    margin-left: 60px;
}

.image-div {
    width: 120px;
    height: 150px;
    margin-bottom: 0px;   
}

.image-div img {
    border-radius: 3px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cartTitle {
    margin-left: 50px;
    margin-top: 0px;
    font-size: 20px;  
}

.cartPrice {
    margin-left: 50px;
    font-size: 20px;
    font-weight: 600;
}

.prod-price {
    font-size: 16px;
    letter-spacing: 1.5px;
    margin-left: 10px;
    color: teal;
}

.quantity-select {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    margin-left: 50px;
}

#minus-btn {
    cursor: pointer;
    width: 28px;
    height: 28px;
    font-size: 22px;
    font-weight: 500;
    outline:none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px 0px 0px 4px;
    background-color: teal;
    color: white;
}

#minus-btn:active {
    transform: translateY(2px);
}

#plus-btn {
    cursor: pointer;
    width: 28px;
    height: 28px;
    font-size: 22px;
    font-weight: 500;
    background-color: teal;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 4px 4px 0px;
    outline: none;
  
}

#plus-btn:active {
    transform: translateY(2px);
}

.quantNum {
    cursor: pointer;
    width: 28px;
    height: 28px;
    font-size: 18px;
    font-weight: 500;
    border-left: 1px solid white;
    border-right: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
    color: white;
}

#trashy {
    position: absolute;
    top: 0;
    right: 0;   
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 30px;
    color: black;
    opacity: 0.5;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 10px 10px;
}

.heart-div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 50px; 
}

.saveheart {
    cursor: pointer;
    margin: 0px;
}

.saveheart:hover {
    color: red;
}

.save {
    margin-left: 7px;
 
}


@media screen and (max-width: 992px) {
    aside {
        width: 48%;
        height: 55vh;
        margin-right: 40px;
        padding-left: 0px;
        background-color: white;
        margin-left: 0px;
    }

    .cart-heading {
        font-size: 20px;
    }

    .cart-heading2 {
        font-size: 22px;
        margin-top: 0px;
    }


    .order {
        padding-left: 0px;   
    }

    .order-value {
        font-size: 18px;
        letter-spacing: 2px;
        width: 250px;
        display: flex;
        justify-content: space-between;
        margin-left: 20px;
    }

    .free-freight-text {
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 1.5px; 
    }

    #total {
        letter-spacing: 2px;
        width: 250px;
        display: flex;
        justify-content: space-between;
        margin-left: 20px;
    }

    .black-line {
        margin-left: 20px;
    }

    .checkout-btn {
        font-size: 17px;
        padding: 8px;
        cursor: pointer;
        width: 30%;
        margin-top: 30px; 
        margin-left: 20px;  
    }

    .displayed-product {
        padding: 20px;
        width: 280px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        color: black;
        margin-bottom: 10px;
        position: relative;
        background-color: #fff;
        border-radius: 3px;
        margin-left: 0px;
        padding-bottom: 0px;

    }

    .image-div {
        width: 80px;
        height: 100px;  
    }

    .cartTitle {
        margin-left: 20px;
        margin-top: 0px;
        font-size: 18px;  
    }

    .quantity-select {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        margin-left: 20px;
    }

    .cartPrice {
        margin-left: 30px;
        font-size: 18px;
        font-weight: 600;
    }

    .heart-div {
        margin-left: 20px; 
        margin-top: -10px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    #trashy {     
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 500;
        padding: 10px 10px;
    }
    
    
}

@media screen and (max-width: 500px) {

    .cart-cotainer {
    
        position: relative;
    }


    .cart-heading {
        height: 0.5px;
        width: 0.5px;
        visibility: hidden;
    }

    .cart-heading2 {
        font-size: 27px;
        margin-bottom: 30px;
        margin-top: 15px;
    }

    .displayed-product {
        padding: 20px;
        width: 340px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        color: black;
        margin-bottom: 10px;
        position: relative;
        background-color: #fff;
        border-radius: 3px;
        margin-left: 143px;
    }

    .heart-div {
        height: 1px;
        visibility: hidden;
    }

    .image-div {
        width: 80px;
        height: 90px;  
    }

    .bottom-div {
        max-width: 90%;
        margin-bottom: 50px;
    }

    .main {
        width: 0%;
    }

    aside {
        padding-top: 20px;
        width: 100%;
        margin: 0px;
        height: auto;
        padding-left: 20px;
        padding-bottom: 15px;
   
       
    }


  
}