
.fav-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #fcf5f5;
    padding-bottom: 50px;  
}

.fav-container {
    width: 20%;
    height: 440px;
    margin-right: 5px;
    margin-bottom: 150px;
    background-color: whitesmoke;
    margin-top: 30px;
    position: relative;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.img-overlay:hover {
    opacity: 1;
}

.cart-plus {
    font-size: 60px;
    color: white;
    opacity: 0.5;   
}

.addCart {
    color: white;
    opacity: 0.8;
    font-size: 30px;
}

.fav-container img {
    max-width: 100%;
    height: 100%;
    object-fit:cover; 
    z-index: -1;
    cursor: pointer;
   
}



.fav-title {
    letter-spacing: 3px;
    margin-bottom: 10px;
    cursor: pointer;
}

.fav-price {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
    z-index: 6;
    color: black;
    margin-top: 0px;
}


.heart {
    font-size: 25px;
    z-index: 10!important;
    cursor: pointer;
    margin-right: 20px;
    color: red;
  
}

.red-heart {
    font-size: 25px;
    z-index: 10!important;
    cursor: pointer;
    color: black;
    margin-right: 20px;
}

.red-heart:hover {
    color: red;
}

.heart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.click-heart {
    width: 45px;
    position: absolute;
    bottom: -10%;
    right: 0;

}

.btn-div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 12px;
   
}

.secret-btn {
    visibility: hidden;
}


@media screen and (max-width: 992px) {

    .fav-container {
        height: 250px;
    }
  

    .fav-title  {
        font-size: 20px;
    }

    .click-heart {
        position: absolute;
        top: 85%;
        right: -5%;
    }

    .red-heart {
        color: white;
        font-size: 20px;
    }

    .heart {
        font-size: 20px;
    }

    .fav-title {
        font-size: 18px;
    } 

    .fav-price {
        font-size: 16px;
        margin: 0;
        padding: 0;
    }

    .btn-div {
        width: 100%;
        margin-left: 0;
        display: flex;  
        justify-content:center;
        align-items: flex-start;
    }

    .secret-btn {
        visibility: visible;
        background-color: teal;
        color: white;
        font-size: 18px;
        letter-spacing: 1.5px;
        font-weight: 500;
        margin-top: 12px;
        padding: 8px;
        cursor: pointer;
        display: flex;
        width: 100%;
        justify-content: center;
        border: none;
        border-radius: 2.5px;
    }

    .secret-btn:active {
        transform: translateY(3px)
    }
}

@media screen and (max-width: 500px) {

    .fav-container {
        width: 30%;
        height: 180px;
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 150px;
        background-color: whitesmoke;
        margin-top: 30px;
        position: relative;
    }

    .fav-row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 10px;
        padding-right: 5px;
        padding-left: 5px;
        width: 100%;
        background-color: #fcf5f5;
        padding-bottom: 10px;  
        margin: 0px;
        align-self: center;
        
    }

    .secret-btn {
        font-size: 12px;
        letter-spacing: 1.5px;
        font-weight: 500;
        margin-top: 12px;
        padding: 7px;
        width: 100%;
    }

    .fav-title {
        font-size: 12px;
    }

    .img-overlay {
        visibility: hidden;
    }
    
    
}
