
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
  max-width: 100%!important;
  overflow-x: hidden!important;
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}

.responsive-menu {
  visibility: hidden;
  height: 1px;
}

.App {
  max-width: 100%!important;
  overflow-x: hidden;
}

.container {
  max-width:100vw!important;
  overflow-x: hidden!important;
}

.navbar {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  Z-index: 100;
  background-color: transprent;
  padding-bottom: 0px;
  margin-bottom: 90px;
}

.nav-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 40px;
  padding-left: 40px;
  margin-bottom: 0px;
  overflow-x: hidden;
  background-color: #fcf5f5;
}

.deal {
  width: 100%;
  background-color: teal;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  height: 4vh;
  padding: 6px;
  letter-spacing: 1px;
  word-spacing: 3px;
}

._icons {
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 80px;
}

._icon {
  font-size: 23px;
  opacity: 0.5;
  cursor: pointer;
}

.logo-name {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 3px;
 
}

.logo-link {
  color: teal;
  text-decoration: none;
}

#register-link {
  text-decoration: none;
  color: black;
}

#login {
  text-decoration: none;
  color: black;
}

#login:hover, #register-link:hover {
  text-decoration: underline;
}

.register, .signin {
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

.signout{
  cursor: pointer;
  text-transform: uppercase;
  font-size: 18px;
}

.user-nav {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: "Urbanist";
} 

.signout:hover {
  text-decoration: underline;
}

.navbar-left {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 6vh;
}

.navbar-right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  height: 6vh;
  font-size: 18px;
  position: relative;
}

.wishlist {
  text-decoration: none;
  color: black;
  margin-top: 3px;
}

.wishlist:hover {
  border-bottom: 1px solid black; 
}

.theLink {
  text-decoration: none;
}

#cart {
  font-size: 26px;
  cursor: pointer;
  color: black;
}

.digit {
  background-color: teal;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  position: absolute;
  right: 0;
  margin-right: 45px;
  bottom: 0;
  margin-bottom: 26px;
}

.visible {
  visibility: visible;
}

.notVisible {
  visibility: hidden;
}




.responsive-menu {
  visibility: hidden;
}

.search-title {
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}


.search-div:hover {
  opacity: 0.5;
}

.menu {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: teal;
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
}

.register, #register {
  text-decoration: none!important;
  color: black;
}

#register:hover {
  text-decoration: underline;
}

@media screen and (max-width: 992px) {

  ._icons {
    visibility: hidden;
  }

  .nav-content {
    background-color: #fcf5f5;
    position: absolute;
    top: 0;
  }

  .hamburger-nav {
    position: absolute;
    background-color: transparent;
    top: 30%;
    right: 3%;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    z-index: 3;
  }

  .menu {
    visibility: visible;
    width: 58px;
    height: 58px;
    top: 30%;
    right: 3%;
    cursor: pointer;
    position: absolute;
    transition: 0.3s ease-in-out;
    z-index: 8;
  }



  .bar1, .bar2, .bar3 {
    height: 4px;
    width: 32px;
    border-radius: 5px;
    background-color: white;
    display: block;
    margin-left: 12px;
    z-index: 9;
  }

  .bar1 {
    transform: translateY(15px);
    transition: 0.5s ease;
  }

  .bar2 {
    transform: translateY(22px);
    transition: 0.5s ease;
  }

  .bar3 {
      transform: translateY(29px);
      transition: 0.5s ease;
  }

  .change-menu {
    background-color: transparent;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    padding: 3px;
    position: absolute;
    top: 30%;
    right: 3%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  
  }

  .change1 {
    background-color: white;
    display: block;
    margin-left: 12px;
    height: 4px;
    width: 32px;
    border-radius: 5px;
    transform: translateY(25px) rotateZ(45deg);
    transition: 0.5s ease;
  }

  .change2 {
    background-color: white;
    display: block;
    margin-left: 12px;
    height: 4px;
    width: 32px;
    border-radius: 5px;
    transform: translateY(22px);
    opacity: 0;
  }

  .change3 {
    background-color: white;
    display: block;
    margin-left: 12px;
    height: 4px;
    width: 32px;
    border-radius: 5px;
    transform: translateY(17px) rotateZ(-45deg);
    transition: 0.5s ease;
  }

  .deal {
   height: 1px;
   visibility: hidden;
    z-index: -2;
  }

  .hidden-menu {
    opacity: 1;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background-color: teal;
    position: absolute;
    right: -100%;
    top: -5000%;
    transition: 0.5s ease-in-out;
  }

  .menu-bg {
    width: 800px;
    height: 800px; 
    border-radius: 50%;
    background-color: teal;
    position: absolute;
    top: -3300%;
    right: -50%;
    opacity: 1;
    transition: 0.5s ease-in-out;
    z-index:2; 
  }

  .responsive-menu {
    visibility: visible;
    list-style: none;
    position: absolute;
    top: 202%;
    right: -100%;
    z-index: 99;
    color: #fcf5f5;
    font-size: 22px;
    text-align: center;
    opacity: 0;
    text-decoration: none;
    transition: 0.3s ease;
  }

  .responsive-menu li {
    margin-bottom: 23px;
    cursor: pointer;
    letter-spacing: 2px;
    text-decoration: none;   
  }

  .show-responsive {
    opacity: 1;
    right: 14%;
  }

  .logo-name {
    position: absolute;
    font-size: 42px;
    top: 26%;
    left: 10%;
    z-index: 4;
  }

  .language {
    position: absolute;
    top: -100%; 
  }

  #cart, .digit {
    visibility: visible;
    top: 0;
    z-index: 2;
  }

  #cart {
    position: absolute;
    top: 32%;
    right:75%;
    font-size: 40px;
    cursor: pointer;
  }

  .digit {
    position: absolute;
    top: -10%;
    right: 49%;  
    width: 25px;
    height: 25px;
    font-size: 18px;
    cursor: pointer;
  }

  .list {
    text-decoration: none;
    color: white;
  }

  .searchbar, .register, .wishlist, .signin {
    position: absolute;
    top: -200%;
  }
  
  .theLink {
    text-decoration: none!important;
  }

}

@media (max-width: 446px) {
  .hidden-menu {
    opacity: 1;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background-color: teal;
    position: absolute;
    right: -300%;
    top: -5000%;
    transition: 0.5s ease-in-out;
  }

  .menu-bg {
    top: -3300%;
    right: -100%;
    opacity: 1;
    transition: 0.5s ease-in-out;
    z-index:2; 
  }

  .show-responsive {
    right: 23%;
  }

  .logo-name {
    font-size: 28px;
    margin-left: 12px;
    margin-top: 2px;
  }

  #cart {
    font-size: 28px;
    margin-right: 42px;
    margin-top: -2px;
  }

  .digit {
    margin-right: 57px;
    width: 21px;
    height: 21px;
    font-size: 14px;
    margin-top: 10px;
  }

  .bar1, .bar2, .bar3 {
    height: 3px;
    width: 28px;
    border-radius: 5px;
    background-color: white;
    display: block;
    margin-left: 12px;
    z-index: 9;
  }

  .change1, .change2, .change3 {
    height: 3px;
    width: 28px;
  }

  .change3 {
    transform: translateY(19px) rotateZ(-45deg);
    transition: 0.5s ease;
  }

  .menu, .change-menu {

    width: 54px;
    height: 54px;
    top: 10%;
    right: 10%;
  }


  

  

}


