.women-container {
    width: 100%;
    background-color: #fcf5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.garment-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 150px;
    margin-bottom: 100px;
    padding-top: 0px;
    
}

.image-container {
    width: 550px;
    margin-top: 0px;
   
    
}

.garment-title {
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 3px;
    margin-top: 10px;
    
}

.text-container {
    margin-top: 0px;
    padding-top: 0px;
    width: 50%;
 
}

#women-price {
    font-size: 50px;
    font-weight: 300;

}

.image-container img {
    width: 100%;
}

.lorem-text {
    width: 35%;
    letter-spacing: unset !important;
    font-size: 20px!important;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

#color {
    padding-right: 5px;
    width: 90px;
}

.red {
    width: 25px;
    height: 25px;
    border-radius: 60%;
    background-color: red;
    margin-right: 8px;
    cursor: pointer;
}

.blue {
    width: 25px;
    height: 25px;
    border-radius: 60%;
    background-color: midnightblue;
    margin-right: 8px;
    cursor: pointer;
}

.black {
    width: 25px;
    height: 25px;
    border-radius: 60%;
    background-color: black;
    margin-right: 8px;
    cursor: pointer;
}

#size {
    margin-left: 40px;
    font-size: 20px;
    background-color: whitesmoke;
    
}

.buy-btn {
    background: whitesmoke;
    color: black;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 8px;
    cursor: pointer;
    margin-left: 200px;
}